/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
}

/* Style tab links */
.tablink {
    background-color: #878787;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
}

    .tablink:hover {
        background-color: #565656;
        color: black;
    }
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    height: 100%;
}
#SimCardsFilters {
    background-color: #565656;
}
#SimCardsCharts {
    background-color: #565656;
}
