@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');

body {
    background-color: #565656;
}

::selection {
    background-color: #09bd70;
    color: black;
}

* {
    font-family: "Raleway", sans-serif;
    font-size: unset;
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
}
