.checkbox {
    margin: 10px;
}

.adapt_table table thead tr th {
    vertical-align: middle !important;
}

.adapt_table table thead tr:first-child th:first-child {
    border-right: solid 1px white !important;
}

.button_tr_100 {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #3F3C3C !important;
    color: white;
    border-radius: 0px;
    border-width: 0px;
    padding: 3px;
}

    .button_tr_100 span {
        font-size: x-small;
        font-weight: bold;
    }

.flexRowSpaceBetween{
    padding-bottom: 2px;
}

.flexColumnStart {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap; /* Многострочный контейнер */
    flex-direction: column; /* Направление главной оси контейнера - вертикальное */
    justify-content: flex-start; /* Выравнивание по главной оси */
    align-content: flex-start; /* Выравнивание по поперечной оси всех строк контейнера */
    align-items: flex-start; /* Выравнивание по поперечной оси внутри строки */
    margin-right: 15px !important;
    margin-left: 0px !important;
}

.flexRowStart {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap; /* Многострочный контейнер */
    width: 100%;
    flex-direction: row; /* Направление главной оси контейнера - горизонтальное */
    justify-content: flex-start; /* Выравнивание по главной оси */
    align-content: flex-start; /* Выравнивание по поперечной оси всех строк контейнера */
    align-items: flex-start; /* Выравнивание по поперечной оси внутри строки */
    margin-left: 0px !important;
}

.flexRow_Center_Center {
    padding-top: 10px;
}