.div_kindChartChoice{
    color: black;
    width: 98%; 
    margin-left: 1%;
    margin-top: 0px;
    text-align: left;
}
button {
    border: 1px;
    border-radius: 1px;
    margin: 5px;
    vertical-align: central;
}

img {
    border: none;
    width: 15px;
}


