ul {
    marker: none;
    list-style-type: none;
    marker: none;
    text-decoration: none;
}
li {
    text-align: initial;
}

.flexColumn_Center_Start {
    flex-wrap: wrap;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center; /*Выравнивание по главной оси */
    align-content: start; /* Выравнивание по поперечной оси всех строк контейнера */
    align-items: start; /*Выравнивание по поперечной оси внутри строки */
}

.flexRow_Center_Center {
    flex-wrap: wrap;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center; /*Выравнивание по главной оси */
    align-content: center; /* Выравнивание по поперечной оси всех строк контейнера */
    align-items: center; /*Выравнивание по поперечной оси внутри строки */
    width: 100%;
}

span{
    font-size: small;
}
